/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	width: 100%;
}

main {
    max-width: 1440px;
	margin:auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	max-width: 1440px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	cursor: pointer;
	
}

.logo {
	cursor: pointer;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	text-align: center;
	font-style: normal;
	line-height: normal;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}

/*a {
	text-decoration: none;
	color: #000000;
}*/

a.nav {
	text-decoration: none;
    display: flex;
    width: 55px;
    height: 19px;
    justify-content: center;
    align-items: center;
    color: #000000;
}

a.login {
	text-decoration: none;
	color: #000000;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	position: relative;
    top: 46px;
}

.spitch {
	font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    text-align: center;
    font-style: normal;
    line-height: normal;
    position: absolute;
    left: 0px;
    top: -80px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.projets {
	position: relative;
    top: 39px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    text-align: center;
    font-style: normal;
    line-height: normal;
}

/*icone modifier*/
.modal1 {
	text-align: center;
}

.mes_projets {
	display: inline;
}

.fas.fa-pen-square {
	margin-left: 15px;
	cursor: pointer;
}

.modifier {
	position: relative;
	left: 150px;
	top: -20px;
	height: 15.58px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}




/*buttons-filtres*/

a.filter {
	text-decoration: none;
    color: #1D6154;
}

#filter-buttons button:hover a.filter {
	color: #FFF;
}

#filter-buttons {
    text-align: center;
    margin: 50px 0;
}

#filter-buttons button {
    margin: 5px;
    padding: 5px 10px;
	border-radius: 60px;
	border: 1px solid #1D6154;
    cursor: pointer;
}

#filter-buttons button:hover {
	background-color: #1D6154;
}


/* Styliser le bouton "Tous" */
button.all {
    /* Vos styles pour le bouton "Tous" */
    width: 100px;
    height: 37px;
}

/* Styliser le bouton "Objets" */
button.objects {
    /* Vos styles pour le bouton "Objets" */
    width: 100px;
    height: 37px;
}

/* Styliser le bouton "Appartements" */
button.apartments {
    /* Vos styles pour le bouton "Appartements" */
    width: 157px;
    height: 37px;
}

/* Styliser le bouton "Hotels & Restaurants" */
button.hotels-restaurants {
    /* Vos styles pour le bouton "Hotels & Restaurants" */
    width: 198px;
    height: 37px;
}

/*style des boutons js*/

.objects {
    /* Styles communs pour tous les boutons avec la classe "objects" */
    color: #1D6154;
    cursor: pointer;
}

.objects[data-filter="Tous"] {
    /* Styles spécifiques pour le bouton avec l'attribut data-filter="Tous" */
    width: 100px;
    height: 37px;
}

.objects[data-filter="Tous"]:hover {
	color: #FFF;
	background-color: #1D6154;
}

.objects[data-filter="Objets"] {
    /* Styles spécifiques pour le bouton avec l'attribut data-filter="Objets" */
    width: 100px;
    height: 37px;
}

.objects[data-filter="Objets"]:hover {
	color: #FFF;
	background-color: #1D6154;
}

.objects[data-filter="Appartements"] {
    /* Styles spécifiques pour le bouton avec l'attribut data-filter="Appartements" */
    width: 157px;
    height: 37px;
}

.objects[data-filter="Appartements"]:hover {
	color: #FFF;
	background-color: #1D6154;
}

.objects[data-filter="Hotels & restaurants"] {
    /* Styles spécifiques pour le bouton avec l'attribut data-filter="Hotels & restaurants" */
    width: 198px;
    height: 37px;
}

.objects[data-filter="Hotels & restaurants"]:hover {
	color: #FFF;
	background-color: #1D6154;
}



button.tous {
	width: 100px;
	height: 37px;
}

button.objects {
	width: 100px;
	height: 37px;
}

button.apartements {
	width: 157px;
	height: 37px;
}

button.hotels-restaurants {
	width: 198px;
	height: 37px;
}


/* Styles pour la galerie d'images */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.gallery figure {
    width: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: width 0.3s, opacity 0.3s;
}

.gallery figure img {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles pour les filtres actifs et inactifs */
figure.inactive {
	display: none;
}



#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
    top: 20px;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 237px;
    text-align: center;
    height: 36px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/*footer*/

/*footer {
	position: absolute;
	top: 964px;
}*/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

section#login-section {
	width: 26%;
    margin: auto;
}

h2.login-title {
	margin-bottom: 20px;
}

form#login-form {
	text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

label.email-label {
	margin: 2em 0 1em 0;
}

input#username {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

label.password-label {
	margin: 2em 0 1em 0;
}

input#password {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

button.button-connect {
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	flex-shrink: 0;
	cursor: pointer;
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

.animationbtn {
	animation: animationbtn 0.3s ease-in-out;
  }
  
  @keyframes animationbtn {
	0% {
	  background-color: #d65353;
	  transform: translateX(0);
	}
	20% {
	  transform: translateX(-10px);
	}
	40% {
	  transform: translateX(10px);
	}
	60% {
	  transform: translateX(-10px);
	}
	80% {
	  transform: translateX(10px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  

p#message-error.error-message {
	color: red;
    margin-top: 10px;
}

a.mdp-forget {
	color: #3D3D3D;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 28px;
	display: flex;
	justify-content: center;
}


/* Style pour le modal */
.modal-container {
    position: fixed; /* Utilisez "fixed" pour un positionnement correct */
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 688px;
    width: 630px;
    overflow-y: auto; /* Ajoutez un défilement si nécessaire */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed; /* Utilisez "fixed" pour l'arrière-plan obscurci */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none;
}


.fa-solid.fa-xmark {
    position: fixed;
    left: 630px;
    top: 28px;
}



.modal-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border-bottom: 1px solid #B3B3B3;
    padding: 46px 35px;
}

.modal-photo img {
    width: 79px;
    height: 105px;
    cursor: pointer;
    padding: 10px;
}

.modal-title {
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding-bottom: 35px;
    font-weight: 400;
    position: relative;
    top: 37px;
}

i.fa-regular.fa-trash-can {
    position: absolute;
    background: black;
    color: white;
    cursor: pointer;
    font-family: "FontAwesome";
    font-size: 11px;
    transform: translate(-13px, 3px);
}

.modal-ajout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.btnajout {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    text-align: center;
    border-radius: 60px;
    width: 237px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
}

#openModalIcon.far.fa-pen-to-square {
    position: relative;
    left: 10px;
}
